In [2]:
import pandas as pd 

df = pd.read_csv("C:/Users/eguen/OneDrive/Desktop/bmw_sales.csv")

In [3]:
print(df.shape)

(50000, 11)

In [4]:
print(df.dtypes)

Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object

In [5]:
print(df.head)

<bound method NDFrame.head of           Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]>

In [6]:
# Strip whitespace and standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace('', '_')

In [8]:
print(df.columns.tolist())

['_m_o_d_e_l_', '_y_e_a_r_', '_r_e_g_i_o_n_', '_c_o_l_o_r_', '_f_u_e_l___t_y_p_e_', '_t_r_a_n_s_m_i_s_s_i_o_n_', '_e_n_g_i_n_e___s_i_z_e___l_', '_m_i_l_e_a_g_e___k_m_', '_p_r_i_c_e___u_s_d_', '_s_a_l_e_s___v_o_l_u_m_e_', '_s_a_l_e_s___c_l_a_s_s_i_f_i_c_a_t_i_o_n_']

In [12]:
df.columns = [col.replace("_", "").lower() for col in df.columns]
print(df.columns.tolist())

['model', 'year', 'region', 'color', 'fueltype', 'transmission', 'enginesizel', 'mileagekm', 'priceusd', 'salesvolume', 'salesclassification']

In [13]:
from datetime import datetime
df["vehicle_age"] = datetime.now().year - df["year"]

In [14]:
df["price_per_km"] = df["priceusd"] / df["mileagekm"]

In [15]:
def categorize_engine(size):
    if size < 1.5:
        return "small"
    elif size < 2.0:
        return "medium"
    else:
        return "large"
df["engine_category"] = df["enginesizel"].apply(categorize_engine)

In [16]:
df["is_automatic"] = df["transmission"].str.lower().str.contains("auto").astype(int)

In [18]:
def classify_sales(volume):
    if volume > 1000:
        return "high"
    elif volume > 300:
        return "medium"
    else:
        return "low"

df["sales_intensity"] = df["salesvolume"].apply(classify_sales)

In [19]:
df  [[
    "model", "year", "vehicle_age", "priceusd", "mileagekm", "price_per_km", "enginesizel", "engine_category", "transmission", "is_automatic", "salesvolume", "sales_intensity"

]].head()

,model,year,vehicle_age,priceusd,mileagekm,price_per_km,enginesizel,engine_category,transmission,is_automatic,salesvolume,sales_intensity
0,5 Series,2016,9,98740,151748,0.650684,3.5,large,Manual,0,8300,high
1,i8,2013,12,79219,121671,0.651092,1.6,medium,Automatic,1,3428,high
2,5 Series,2022,3,113265,10991,10.305250,4.5,large,Automatic,1,6994,high
3,X3,2024,1,60971,27255,2.237057,1.7,medium,Automatic,1,4047,high
4,7 Series,2020,5,49898,122131,0.408561,2.1,large,Manual,0,3080,high

In [20]:
df.rename(columns={
    "fueltype": "fuel_type",
    "enginesizel": "engine_size_l",
    "mileagekm": "mileage_km",
    "priceusd": "price_usd",
    "salesvolume": "sales_volume",
    "salesclassification": "sales_classification"
}, inplace=True)

In [21]:
df.to_csv("bmw_sales_transformed.csv", index=False)